@font-face{
    font-family: profontwindows;
    src: url('../../assets/fonts/ProFontWindows/ProFontWindows.ttf');
}

@font-face{
    font-family: quicksand;
    src: url('../../assets/fonts/quicksand/Quicksand-Regular.otf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


body {
    font-family: quicksand;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: quicksand;

}

a {
    text-decoration: none;
}

/*========================================================================================================================== */
/*================================================== NAVBAR ================================================================ */
/*========================================================================================================================== */

.nav-container {
    height: 60px;
    width: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
}

.nav-container .logo {
    max-width: 200px;
    padding: 0 10px;
    overflow: hidden;
}

.nav-container .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
}

.nav-container .logo a img {
    max-width: 80%;
    max-height: 60px;
}

.nav-container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}

.nav-container .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-container .navbar ul li a {
    text-decoration: none;
    color:white;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    padding: 0 10px;
}

.nav-container .navbar ul li a:hover {
    color: red;
    -webkit-transition: all 0.6s ease-in-out !important;
}

.nav-container .navbar ul .close {
    display: none;
    text-align: right;
    padding: 10px;
}

.nav-container .navbar ul .close span {
    font-size: 30px;
    display: inline-block;
    border: 1px solid #cccccc;
    padding: 0 10px;
    cursor: pointer;
}

.nav-container .navbar .icon-bar {
    padding: 18px 8px;
    width: 50px;
    height: 60px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.nav-container .navbar .icon-bar i {
    background-color: #ffffff;
    height: 2px;
}

@media only screen and (max-width: 650px) {
    .nav-container {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .nav-container .logo {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .nav-container .navbar {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
    }

    .nav-container .navbar ul {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: fixed;
        left: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: #ffffff;
        width: 100%;
        height: 100%;
        overflow: auto;
        -webkit-transition: left .3s;
        -o-transition: left .3s;
        transition: left .3s;
    }

    .nav-container .navbar ul li a {
        padding: 10px;
        font-size: 16px;
        height: auto;
        line-height: normal;
        color:#222222;
    }

    .nav-container .navbar ul .close {
        display: block;
    }

    .nav-container .navbar .icon-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav-container .navbar ._Menus-show {
        left: 0;
    }
}



/*=====================================================END================================================================== */
/*================================================== NAVBAR ================================================================ */
/*========================================================================================================================== */


/*============================================================================================================================ */
/*================================================== CONTENTS ================================================================ */
/*============================================================================================================================ */

/*========================================================== Buttons ========================================================= */

.button-container {
    display: flex;

    margin: 5px auto;

    flex-wrap: wrap;
    justify-content: center;
}
.button {
    display: flex;
    overflow: hidden;

    margin: 4px 10px;
    padding: 12px 12px;

    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;

    color: #fff;
    border: 0 none;
    border-radius: 4px;

    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;

    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    justify-content: center;
    align-items: center;
    flex: 0 0 160px;

    box-shadow: 2px 5px 10px var(--color-smoke);


}
.button:hover {
    transition: all 150ms linear;

    opacity: .85;
}

.button:active {
    transition: all 150ms linear;
    opacity: .75;
}

.button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}

.button.-regular {
    color: #202129;
    background-color: #f2f2f2;

}
.button.-regular:hover {
    color: red;
    background-color: #e1e2e2;
    -webkit-transition: all 0.3s ease-in !important;
    opacity: 1;
}

.button.-regular:active {
    background-color: #d5d6d6;
    opacity: 1;
}

/*===================================================== End - Buttons ========================================================= */

/*======================================================== Welcome ============================================================ */

.welcome-section {  
    margin: 0 auto;
    padding: 7.5% 0 2.5% 0;
}

.welcome-inner{
    width: 45%;
    margin: auto;
    vertical-align: middle; 
    text-align: center;
    background-color: black;
    color: white;
}

.button-container a div {
    font-family: profontwindows;
    font-size: 0.8em;
    font-weight: 600;
}

.codezoned-colored-text{
    
}

.quote-text{
    letter-spacing: 0.1em;
    font-size: 20px; 
    color: #d1d1d1;

}
@media only screen and (max-width: 650px) {
    .welcome-section {  
        margin: 0 auto;
        padding: 20% 5% 2.5% 5%;
        height: 100vh;
    }
    .welcome-inner{
        width: 100%;
        margin: auto; 
    }

}

@media only screen and (max-width: 322px) {
    .welcome-inner{
        width: 100%;
        margin: auto; 
    }

    .welcome-text{
        font-size: 2.5rem !important;
    }

    .joinus {
        min-width: 300px !important;
    }
}

/*==================================================== End Welcome ============================================================ */

/*======================================================= About =============================================================== */

.about-inner {
    width: 60%; 
    margin: 0 auto; 
    font-size: 1.1rem;
    letter-spacing: 1.1px; 
    word-spacing: 4px;
}

@media only screen and (max-width: 650px) { 
    .about-inner {
        width: 90%;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

/*=================================================== End About =============================================================== */

/*====================================================== Events =============================================================== */

.events-inner {
    width: 60%; 
    margin: 0 auto; 
    font-size: 1.1rem;

    letter-spacing: 1.1px; 
    word-spacing: 4px;
    
}

.event-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.uhack{
    max-width: 20%;
}

.alertathon{
    max-width: 20%;
}

.hac {
    max-width: 20%;
}

@media only screen and (max-width: 650px) { 
    .events-inner {
        width: 90%;
        margin: 0 auto;
        font-size: 1.1rem;
        margin-bottom: 5%;
    }

    .event-images {
        display: grid;
        grid-template-columns: 150px 150px;
    }
    .uhack{
        max-width: 45%;
    }
    
    .alertathon{
        max-width: 45%;
    }
    
    .hac {
        max-width: 55%;
    }
}



/*=================================================== End Events ============================================================== */

/*==================================================== Partners =============================================================== */

.spi {
    max-width: 35%;
}

.ankor{
    max-width: 20%;
    margin: 0 6% 0 0;
}

.alert{
    max-width: 15%;
}

.partner-types {
    width: 80%;
    margin: 5% auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.types {
    font-size: 2rem;
}

.type-name {
    color: red;
}

@media only screen and (max-width: 650px) { 
    .partners {

    }
    .sponsors-images {
        display: grid;
    }
    .spi {
        max-width: 75%;
    }
    
    .ankor{
        max-width: 40%;
        margin-bottom: 2%;
        
    }
    
    .alert{
        max-width: 30%;
    }
    
    .partner-types {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .types {
        font-size: 1.5rem;
    }

}

/*================================================== End partners ============================================================== */

/*===================================================== Projects =============================================================== */

.card-container {
    max-width: 60%;
    margin: 2% auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
}
.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;

    /* card design */
    border-radius: 2px;
    border: solid 2px #eeeeee ;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 1px 2px 3px #eeeeee inset;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border-color: #eeeeee;
}

.card .card-title {
    margin-bottom: 0;
    font-size: 1.3em;
    font-weight: bold;
}

.card .button-box-container {
    border-top: 2px solid #eeeeee; 
    padding-top: 5%;
}
.card .button-box {

    height: 40px !important;
    width: 75%;
    margin: 0 auto;
    font-family: quicksand;

    display: flex;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    justify-content: center;
    align-items: center;
    /* flex: 0 0 160px; */
    font-weight: bold;

    box-shadow: 2px 5px 10px var(--color-smoke);
    background-color: #2196F3;
    color: white;
}

.button-box:hover {
    background-color: #448aff;
    color: #f5f5f5;
    -webkit-transition: all 0.6s ease-in-out !important;
}
/*=================================================== End Projects ============================================================= */


/*====================================================== More ================================================================== */

.more {
    margin-bottom: 0;
    padding-bottom: 2.5%;
    text-align: center;
}

.team-email {
    font-weight: 1000;
}

@media only screen and (max-width: 650px) { 

    .more {
        margin-bottom: 0;
        padding-bottom: 12.5%;
        text-align: center;
    }

}

/*==================================================== End More ================================================================ */


/*======================================================== footer ============================================================== */


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center; 
    height: 50px; 
    width: 100%;
}
.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;

    height: 100%;
    width: 30%;
    margin: 0 auto;
}
.link {
    color: white;
    margin-top: 10px;
}

.link-icon {
    color: white;
}


.projects-head {

}

span .fade {
    opacity: 0;
}

@media only screen and (max-width: 650px) { 
    .icon-container {
        width: 45%;
    }
}

/*==================================================== End - footer ============================================================ */

/*=================================================== End - containers ========================================================== */



/*======================================================END=================================================================== */
/*================================================== CONTENTS ================================================================ */
/*============================================================================================================================ */