.banner {
    text-align: center;
    width: 100%;
    height: fit-content;
    background-color: #d52d30;
}
.banner-text {
    line-height: 30px;
    font-family: profontwindows;
    font-size: 1.7rem;
    color: #ffffff;
    margin-bottom: 0;
    padding: 1% 0 1% 0;
}
.banner-text strong {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}
.banner-text a {
    color: #ffffff;
}
.banner-text a:hover {
    color: #202020;
}
.banner-text img {
    width: 60px;
}

@media screen and (max-width:800px) {
    .banner-text {
        padding: 0 10px;
    }
    .banner-text img {
        width: 40px;
    }
    .banner-text strong {
        font-size: 1.5rem;
    }
}