

/*This contains the css for the components of the page*/

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}
 
body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}
 
header {
      width: 100%;
      height: 100px;
}
 
.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}
 
.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}
 
nav {
      position: fixed;
      width: 100%;
      /*line-height: 60px;*/
}
 
nav ul {
      /*line-height: 60px;*/
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: white;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}
 
/*nav.black ul {
      background: black;
}*/
 
nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}
 
nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 16px;
}
a:hover{
	background-color: white;
	color: black;
}
 
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: black;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: white;
      display: none;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
 
@media(max-width: 786px) {
 
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
 
      nav ul {
            max-height: 0px;
            background: black;
      }
 
      nav.black ul {
            background: black;
      }
 
      .showing {
            max-height: 34em;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
     nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 16px;
	}
		a:hover{
			background-color: white;
			color: black;
		}
		 
      .menu-icon {
            display: block;
      }
 
}