

/*This contains the css for the components of the page*/

@font-face{
	font-family: nikoleta;
	src: url("../assets/fonts/Nikoleta-Font/NIKOLETA.ttf");
}
@font-face{
	font-family: alegreya;
	src: url("../assets/fonts/Alegreya/Alegreya-Regular");
}

body{
	margin: 0;
	padding: 0;
	font-family: alegreya;
	background-color: red;
}